@page
@model CorporateFinance.Pages.DetailedCompoundingModel
@{
    ViewData["Title"] = "Detailed Compounding";
}

<h1>
    EFFECTIVE ANNUAL RATES AND COMPOUNDING
</h1>
<form>
    <div class="form-group">
        <label for="C">Initial Investment</label>
        <input type="text" class="form-control" name="C" id="C" placeholder="C">

    </div>
    <div class="form-group">
        <label>% return per period</label>
        <input type="text" class="form-control" name="R" placeholder="R" id="exampleInputPassword1">
    </div>
    <div class="form-group">
        <label>Num of payments per period</label>
        <input type="text" class="form-control" name="payments" placeholder="Number of payments per period" id="exampleInputPassword1">
    </div>
    <div class="form-group">
        <label>Number of periods</label>
        <input type="text" class="form-control" name="N" placeholder="N" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<label>FV</label>
<div class="shadow-lg p-3 mb-5 bg-white rounded">@Model.rett</div>
<label>EAR</label>
<div class="shadow-lg p-3 mb-5 bg-white rounded">@Model.EAR</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Result</th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var d in @Model.ca)
        {
            <tr>
                <td>@d.index</td>
                <td>@d.res</td>
                
            </tr>


        }

    </tbody>
</table>